.cart__button {
    background: none;
    border: none;
    position: relative;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    color: var(--light-gray);
}

.cart-status {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    width: 11px;
    height: 11px;
    font-size: 9px;
    font-weight: 600;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
}