.header {
    background-color: var(--yellow);
    padding: 8px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header img {
    width: 100px;
}

@media (max-width: 420px) {
    .header {
        width: 100%;    
    }

    .header-container {
        gap: 10px;
        justify-content: flex-start;
    }

    .header a img {
        width: 110px;
    }
}